*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(73, 73, 73);
}
body{
    background-color: rgb(231, 228, 228);
    width: 1900px;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    background-color: lightpink;
    width: 35rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
figure{
    background-color: white;
    padding: 1em;

}
.heart{
    color: red;

    font-size: 2em;
    top: 200px;
    left: 1175px;
}
img{
    width: 100%;
}
.badge{
    padding: 0.4em;
    border-radius: 10px;
    position: absolute;
}
.envio{
    background-color: violet;

    top: 220px;
    
}
.discount{
    background-color: darksalmon;

    top: 260px;
}
figcaption{
    padding: 3em;
}
figcaption>p{
    font-size: 2em;
    padding-bottom: 0.2em;
}
figcaption >span{
    opacity: 0.75;
}
main>p{
    color:rgb(114, 36, 55);
    font-size: 1.5em;
    
}